<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Form page</title>
</head>
<body>
	<h1>Add new tour</h1>

	<form action="#" th:action="@{/processForm}" th:object="${tour}"
		method="post">
		<div>
			<div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			<label>Name</label> <input type="text" th:field="*{name}">
		</div>

		<div>
			<div style="color: red" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
			<label>Code</label> <input type="text" th:field="*{code}">
		</div>

		<div>
			<label>Continent</label> <select name="continent">
				<option
					th:each="continent : ${T(main.models.Tour.Continent).values()}"
					th:value="${continent}" th:text="${continent}"></option>
			</select>
		</div>

		<div>
			<div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
			<label>Date</label> <input type="date" th:field="*{date}">
		</div>

		<div>
			<div style="color: red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
			<label>Duration</label> <input type="number" th:field="*{duration}">
		</div>

		<div>
			<label>All Inclusive</label> <input type="checkbox"
				th:field="*{allInclusive}">
		</div>
		
		<div>
			<input type="submit" value="submit">
		</div>
		
	</form>
</body>
</html>